@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  h1 {
    @apply block bg-gradient-to-br from-green-700 to-green-800 bg-clip-text pb-6 text-center text-5xl font-medium text-transparent dark:from-green-100 dark:to-green-100;
  }

  h2 {
    @apply inline-block bg-gradient-to-br from-green-700 to-green-800 bg-clip-text py-6 text-4xl font-medium text-transparent dark:from-green-100 dark:to-green-200;
  }

  h3 {
    @apply inline-block bg-gradient-to-br from-green-700 to-green-800 bg-clip-text text-3xl text-transparent dark:from-green-100 dark:to-green-200;
  }

  h4 {
    @apply inline-block bg-gradient-to-br from-green-700 to-green-800 bg-clip-text text-2xl leading-relaxed text-transparent dark:from-green-100 dark:to-green-200;
  }

  h5 {
    @apply inline-block bg-gradient-to-br from-green-700 to-green-800 bg-clip-text text-xl leading-relaxed text-transparent dark:from-green-200 dark:to-green-300;
  }

  h6 {
    @apply inline-block bg-gradient-to-br from-green-700 to-green-800 bg-clip-text text-lg leading-relaxed text-transparent dark:from-green-200 dark:to-green-300;
  }

  p {
    @apply leading-relaxed dark:text-green-100;
  }

  hr {
    @apply rounded-md border-2 border-green-600;
  }

  input,
  textarea {
    @apply select-none resize-none rounded-md border-none p-2 outline-none;
  }

  button {
    @apply select-none rounded-full p-2 px-3.5 text-center text-green-700 outline-none duration-300 hover:scale-105 focus-visible:scale-105 active:scale-95;
  }
}

@layer components {
  .button {
    @apply select-none rounded-full p-2 px-3.5 text-center text-green-700 outline-none duration-300 hover:scale-105 focus-visible:scale-105 active:scale-95;
  }

  .button-fill {
    @apply border-2 border-green-800 bg-green-800 text-white dark:border-green-100 dark:bg-green-100 dark:text-green-900;
  }

  .button-outline {
    @apply border-2 border-green-800 text-green-800 hover:bg-green-800 hover:text-white dark:border-green-100 dark:text-green-100 dark:hover:bg-green-100 dark:hover:text-green-900;
  }

  .large-button {
    @apply p-3.5 px-5 text-xl;
  }

  .light-green-bg {
    @apply dark:dark-green-bg bg-gradient-to-br from-green-100 to-green-200;
  }

  .main-green-bg {
    @apply bg-gradient-to-br from-green-200 to-green-300 dark:from-green-700 dark:to-green-800;
  }

  .dark-green-bg {
    @apply bg-gradient-to-br from-green-700 to-green-800;
  }

  .hover-zoom {
    @apply duration-150 hover:scale-105 active:scale-95;
  }

  .title {
    @apply text-6xl;
  }

  /* Forms */
  .form-field {
    @apply mb-5 grid;
  }

  .form-field div {
    @apply flex items-baseline justify-between;
  }

  .form-field input,
  textarea {
    @apply box-border inline-flex min-h-[9] w-full appearance-none items-center justify-center rounded-xl bg-white px-3 py-5 leading-6 outline-none;
  }

  .form-message {
    @apply inline-block bg-gradient-to-br from-green-800 to-green-900 bg-clip-text pr-5 text-base text-transparent opacity-80;
  }

  .form-label {
    @apply inline-block bg-gradient-to-br from-green-700 to-green-700 bg-clip-text pb-2 text-2xl font-medium leading-8 text-transparent;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 28, 138, 33, 0.04;
  --background-end-rgb: 12, 89, 15, 0.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 3, 43, 3;
    --background-end-rgb: 0, 10, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Firefox */
* {
  scrollbar-color: rgb(37, 143, 85) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(37, 143, 85);
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(20, 103, 57);
}
